# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Data & Database (Safety)
data/
PharmaAgent_Project/data/

# Environment Variables (Security)
# .env (Removed to allow push)

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db
